# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
*.log
logs/

# Secrets
.env
.env.local

# Build folders
backend/target/
frontend/node_modules/
frontend/dist/

# Uploads directory
backend/uploads/
